<img src="eafc.jpg" alt="Alt text" style="width: 100%;"/>

## Tasks
* Merge datasets
* Remove date from content
* Extract numbers from `hours`,`found_helpfull`,`product_count`
* Change data types

In [22]:
import pandas as pd 
import numpy as np
import nltk
import time
from datetime import datetime
import re

In [23]:
reviews=pd.read_csv('review.csv')
users=pd.read_csv('user.csv')

In [24]:
reviews.head()

,Unnamed: 0,content,date,recommend,hours,found_helpful
0,0,"Posted: 28 September\nYear after year, EA, des...",Posted: 28 September,Not Recommended,76.6 hrs on record,"1,740 people found this review helpful\n79 peo..."
1,1,Posted: 28 September\nby purchasing this game ...,Posted: 28 September,Not Recommended,253.7 hrs on record,523 people found this review helpful\n115 peop...
2,2,Posted: 4 October\ndid i ever tell you what th...,Posted: 4 October,Not Recommended,1.8 hrs on record,534 people found this review helpful\n81 peopl...
3,3,"Posted: 2 October\nGood game like always, espe...",Posted: 2 October,Not Recommended,76.4 hrs on record,538 people found this review helpful\n116 peop...
4,4,Posted: 29 September\nPurchased Ultimate Editi...,Posted: 29 September,Not Recommended,59.6 hrs on record,379 people found this review helpful\n63 peopl...

In [25]:
users.head()

   Unnamed: 0                     product_count
0           0    h8koN\n268 products in account
1           1        L\n484 products in account
2           2  Federico\n56 products in account
3           3     Artic\n67 products in account
4           4    Mikaow\n91 products in account

### Merging datasets

In [26]:
reviews.rename(columns={'Unnamed: 0':'id'},inplace=True)
users.rename(columns={'Unnamed: 0':'id'},inplace=True)

In [27]:
data=reviews.merge(users,on='id',how='left')

In [28]:
data.head()

,id,content,date,recommend,hours,found_helpful,product_count
0,0,"Posted: 28 September\nYear after year, EA, des...",Posted: 28 September,Not Recommended,76.6 hrs on record,"1,740 people found this review helpful\n79 peo...",h8koN\n268 products in account
1,1,Posted: 28 September\nby purchasing this game ...,Posted: 28 September,Not Recommended,253.7 hrs on record,523 people found this review helpful\n115 peop...,L\n484 products in account
2,2,Posted: 4 October\ndid i ever tell you what th...,Posted: 4 October,Not Recommended,1.8 hrs on record,534 people found this review helpful\n81 peopl...,Federico\n56 products in account
3,3,"Posted: 2 October\nGood game like always, espe...",Posted: 2 October,Not Recommended,76.4 hrs on record,538 people found this review helpful\n116 peop...,Artic\n67 products in account
4,4,Posted: 29 September\nPurchased Ultimate Editi...,Posted: 29 September,Not Recommended,59.6 hrs on record,379 people found this review helpful\n63 peopl...,Mikaow\n91 products in account

### Cleaning dataset

In [29]:

def extract_date(date):
    """
    The function splits day and month
    
    Parameters:
    -date:(str) day and month
    
    Returns:
    -date:(datetime)
    """
    day,month=None,None
    part1,part2=date.split()
    if part1.isdigit():
        day,month=part1,part2
    else:
        day,month=part2,part1
    current_year=datetime.now().year
    date_format="%d %B %Y"
    date_with_current_year=f"{day} {month} {current_year}"
    date=datetime.strptime(date_with_current_year,date_format)
    return date



def join_words(words):
    return " ".join(words[2:]) if len(words) > 2 else ""

In [30]:
#Cleaning content column
data['content']=data['content'].str.replace('\n'," ")
data['content']=data['content'].str.replace('Posted: '," ")
data['content'] = data['content'].str.split(' ').apply(join_words)

#Date column
data['date']=data['date'].str.replace('Posted: ',"").str.replace('\n',"")
data['date']=data['date'].apply(extract_date)

#recommend column
mapping_dict={'Not Recommended':0,
             'Recommended':1}
data['recommend']=data['recommend'].map(mapping_dict).astype('category')

#hours column
data['hours'] = pd.to_numeric(data['hours'].str.split().str[0], errors='coerce')

# Drop rows with NaN values in the 'hours' column
data = data.dropna(subset=['hours'])

In [39]:
data['found_helpful'].str.split('\n')[1]

['523 people found this review helpful',
 '115 people found this review funny 16']

In [19]:
data.hours

0        76.6
1       253.7
2         1.8
3        76.4
4        59.6
        ...
6115     61.7
6116     63.6
6117    120.9
6118    100.1
6119     47.9
Name: hours, Length: 6120, dtype: float64

In [ ]:
s="28 September ⣿⣿⣿⣿⣿⣿⣿⣿⠟⠋⠁⠀⠀⠀⠀⠀⠀⠀⠀⠉⠻⣿ ⣿⣿⣿⣿⣿⣿⣿"
print(s.split())

In [ ]:
data.isna().sum()